body {
  margin: 0;
  padding: 0;
  --text: #cccccc;
  --text-highlight: #55a7f8;
  --border: #474747;
  --border-highlight: #377dce;
  --bg-100: #37373d;
  --bg-200: #3b3b3b;
  --bg-300: #252525;
  --bg-400: #1e1e1e;
  --bg-highlight: #16385b;
  color: var(--text);
  background-color: var(--bg-400);
}

.top {
  position: sticky;
  background-color: var(--bg-400);
  top: 0;
}

.filter {
  display: flex;
  padding: 11px 14px;
  gap: 12px;
  line-height: 22px;
  height: 22px;
  font-weight: bold;
  white-space: nowrap;
}

.select {
  margin-right: 12px;
  width: 120px;
  color: var(--text);
  background-color: var(--bg-200);
  border: none;
  border-radius: 4px;
  border-right: 1px solid var(--bg-200);
  cursor: pointer;
}

.select:focus {
  outline: 1px solid var(--border-highlight);
}

#search {
  height: 22px;
  width: 320px;
  color: var(--text);
  background-color: var(--bg-200);
  border: none;
  border-radius: 4px;
  margin-left: auto;
}

#search:focus {
  outline: 1px solid var(--border-highlight);
}

.keyword {
  color: var(--text-highlight);
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.head {
  margin: 0;
  padding: 10.5px 32px;
  font-weight: bold;
  border-bottom: 1px solid var(--border);
  height: 15px;
  line-height: 15px;
  font-size: 12px;
}

.row {
  cursor: pointer;
}

.row:nth-child(2n) {
  background-color: var(--bg-300);
}

.row:hover {
  background-color: var(--bg-100);
}

.row:focus {
  outline: 1px solid var(--border-highlight);
  outline-offset: -1px;
  background-color: var(--bg-highlight);
}

.head .ceil {
  overflow: visible;
  border-left: 1px solid var(--border);
}

.row .ceil {
  border-left: 1px solid var(--border);
}

.row .ceil:first-child {
  padding-left: 32px;
  border-left: none;
}

.head .ceil:first-child {
  padding-left: 32px;
  border-left: none;
}

.grow {
  flex: 1;
}

.ceil {
  position: relative;
  width: 80px;
  height: 15px;
  line-height: 15px;
  font-size: 12px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding: 6px;
}

.arrow {
  padding-left: 7px;
  height: 4px;
  align-self: center;
}

.pointer {
  cursor: pointer;
}

.w-96 {
  width: 96px;
}

.w-128 {
  width: 128px;
}

.w-full {
  width: 100%;
}

#unknown-results {
  border-top: 8px solid var(--bg-100);
}

.display-none {
  display: none;
}

#unknown-results > * {
  display: flex;
}

.drag {
  position: absolute;
  top: 0;
  left: calc(100% - 2px);
  width: 4px;
  z-index: 1;
  cursor: col-resize;
  user-select: none;
}

.drag:hover {
  background-color: var(--border);
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
